[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.41"
colored = "3.0.0"
protobuf = "3.7.2"
rand = "0.9.2"
serde = {version="1.0.228" , features=["derive"]}
tokio = {version="1.47.1" , features=["full"]}
toml = "0.9.8"
